flows(1).json
[
    {
        "id": "b5c285a494a96deb",
        "type": "tab",
        "label": "Calculator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a62c8fcb0a891b81",
        "type": "http in",
        "z": "b5c285a494a96deb",
        "name": "",
        "url": "/calculator/add",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "a7094b4e413758c4"
            ]
        ]
    },
    {
        "id": "3ad3c9860eb3b1af",
        "type": "http in",
        "z": "b5c285a494a96deb",
        "name": "",
        "url": "/calculator/subtract",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "2d22edf3f55f7447"
            ]
        ]
    },
    {
        "id": "92dc6ce5a4b9f81e",
        "type": "http in",
        "z": "b5c285a494a96deb",
        "name": "",
        "url": "/calculator/multiply",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "88640a37bafeb806"
            ]
        ]
    },
    {
        "id": "9ebc3014755b85b9",
        "type": "http in",
        "z": "b5c285a494a96deb",
        "name": "",
        "url": "/calculator/divide",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "cb59a3a59bf65f6e"
            ]
        ]
    },
    {
        "id": "a7094b4e413758c4",
        "type": "change",
        "z": "b5c285a494a96deb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.a) + $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "c2f14952df6986f6"
            ]
        ]
    },
    {
        "id": "2d22edf3f55f7447",
        "type": "change",
        "z": "b5c285a494a96deb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.a) - $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "eb78734b55ef2650"
            ]
        ]
    },
    {
        "id": "88640a37bafeb806",
        "type": "change",
        "z": "b5c285a494a96deb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.a) * $number(payload.b)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "714d8a722722c383"
            ]
        ]
    },
    {
        "id": "91d5c91463e89683",
        "type": "change",
        "z": "b5c285a494a96deb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "number(payload.a) / $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "baf2a4c6c8107d40"
            ]
        ]
    },
    {
        "id": "c2f14952df6986f6",
        "type": "http response",
        "z": "b5c285a494a96deb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "eb78734b55ef2650",
        "type": "http response",
        "z": "b5c285a494a96deb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "714d8a722722c383",
        "type": "http response",
        "z": "b5c285a494a96deb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "baf2a4c6c8107d40",
        "type": "http response",
        "z": "b5c285a494a96deb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "879a0d170e7f0958",
        "type": "change",
        "z": "b5c285a494a96deb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Не делиться на ноль",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "baf2a4c6c8107d40"
            ]
        ]
    },
    {
        "id": "cb59a3a59bf65f6e",
        "type": "switch",
        "z": "b5c285a494a96deb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "91d5c91463e89683"
            ],
            [
                "879a0d170e7f0958"
            ]
        ]
    }
]